*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: auto !important;
  position: static !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  background-color: #f7f9fa;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.info-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.sticky-header {
  position: sticky;
  top: 67px;
  z-index: 9;
}

.content {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  border-radius: 6px;
}

.content--column {
  display: flex;
  flex-direction: column;
}

.content--row {
  display: flex;
  flex-direction: row;
}

.content-travel {
  padding: 0;
}

.content__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.content__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  min-width: 80px;
}

.content-main {
  height: auto;
}

.content-item {
  margin: 10px 0px;
  height: 180px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
  border-radius: 6px;
  position: relative;
  min-width: 800px;
}

.content-detail {
  margin: 20px auto;
  width: 60%;
}

.detail-section {
  border-radius: 6px;
  min-width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(3, 18, 26, 0.15);
  overflow-x: hidden;
}

.detail-item {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.detail-item__label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.detail--policy,
.detail--facility,
.detail--destination {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: normal;
  height: auto;
  border: 1px solid gray;
  border-radius: 6px;
  width: 32%;
  padding: 10px;
}
.detail-facility {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 160px;
}
.detail--policy,
.detail--destination {
  margin-right: 2%;
}

.destination__value {
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}

.destination__value img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  display: inline;
}

.facility__value {
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  align-items: center;
}

.detail__facility,
.detail__destination {
  font-size: 12px;
  background-color: #a1d2fb;
  margin-right: 4px;
  border-radius: 12px;
  padding: 6px;
  width: 32px;
}

.detail__facility--more,
.detail__destination--more {
  position: relative;
}

.detail-facilities-popup,
.detail-destinations-popup {
  position: absolute;
  bottom: 100%;
  border-radius: 12px;
  left: 0;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  width: 240px;
  z-index: 10;
}

.policy__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.policy__value span {
  font-size: 14px;
  font-weight: bold;
}
.policy__value span:first-child {
  font-weight: 100;
}

.detail--name {
  font-size: 16px;
  font-weight: bold;
}

.detail--time,
.detail--transport {
  font-size: 14px;
  font-weight: bold;
}

.detail--type {
  padding: 4px;
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--color-main);
  color: white;
  margin-right: 10px;
}

.detail--rating {
  font-size: 20px;
  color: #d6af03;
}

.detail--description {
  white-space: pre-line;
}

.detail-img {
  max-height: 300px;
  background-color: #f7f9fa;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0 20px;
}

.list-detail-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  width: 60%;
}

.item-img {
  width: 280px;
}

.detail-image {
  width: 32.5%;
  height: 49%;
  cursor: pointer;
}

.detail-image:hover {
  opacity: 0.8;
}

.detail-image--first {
  width: 40%;
  height: 300px;
  margin-right: 6px;
}

.detail-image--end {
  position: relative;
}

img.item-img {
  width: 280px;
  min-width: 280px;
  height: 100%;
  border-radius: 6px 0 0 6px;
}

.item-img--hasimage {
  height: 100%;
  position: relative;
  cursor: pointer;
}
.detail-img--hasimage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.item-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  border-radius: 6px 0 0 6px;
}

.item-img--hasimage:hover .item-hover-overlay {
  opacity: 1;
}

.item-info {
  padding: 5px 10px;
  height: 100%;
  width: 100%;
}

.item-action {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 0 6px 6px 0;
  overflow: hidden;
}

.action-button {
  color: white;
  height: 100%;
  background-color: var(--color-main);
  border-top: 1px solid black;
}

.action-button:hover {
  background-color: var(--color-main-hover);
}

.action--first {
  border: none;
}

.info-value {
  border-radius: 12px;
  font-size: 16px;
  margin-bottom: 8px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.room-section {
  height: 100%;
  border-right: 1px solid black;
}

.room-overview {
  min-width: 240px;
}

.room-facility {
  width: 280px;
  max-height: 170px;
  padding-left: 10px;
}

.room-price {
  padding-left: 10px;
  border-right: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.room-price button {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.room-price div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.available-room {
  font-size: 14px;
  color: red;
}

.price-value {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-main);
  margin-bottom: 6px;
}

.info__icon {
  width: 12px;
  height: auto;
  display: inline-block;
  margin-right: 6px;
  filter: rightness(1) saturate(2) hue-rotate(200deg);
}

.info__name {
  font-weight: bold;
}

.info__type {
  background-color: #d1e7f9;
  font-size: 10px;
  padding: 0 10px;
  text-align: center;
  color: var(--color-main);
  margin-right: 10px;
  font-weight: bold;
}

.info__rating {
  color: #d6af03;
  padding-bottom: 2px;
}

.info__location {
  font-size: 12px;
  font-weight: bold;
}

.info__facility {
  font-size: 12px;
  background-color: #a1d2fb;
  margin-right: 4px;
  border-radius: 12px;
  padding: 6px;
}

.info__facility--more {
  position: relative;
  font-weight: bold;
}

.all-facilities-popup {
  position: absolute;
  bottom: -100%;
  border-radius: 12px;
  left: 0;
  background-color: #ffffff;
  color: black;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  width: 200px;
  z-index: 10;
}

.info__room {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-top: 20px;
}

.info__room span {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-main);
}

.info__room span:first-child {
  font-size: 12px;
  font-weight: 400;
  color: #687176;
}

.info__review span {
  font-size: 14px;
  color: #687176;
}

.info__review span:first-child {
  font-size: 14px;
  color: var(--color-main);
  font-weight: bold;
  margin-right: 4px;
  margin-left: 200px;
}

.room__facility {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popup-facility {
  padding: 5px 0;
}

.info__facility--more:hover .all-facilities-popup {
  display: block;
}

.review-overall {
  margin: 20px 0;
}

.average__review {
  width: 128px;
  height: 128px;
  background-color: #1ba0e2;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  border: 4px solid #235d9f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-bar {
  margin-left: 100px;
  display: flex;
  width: 80%;
  align-items: center;
  margin-bottom: 10px;
}
.review-bar__label {
  width: 100px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}
.review-bar-progress {
  flex-grow: 1;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}
.progress {
  height: 100%;
  background-color: #0194f3;
}
.percentage {
  width: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}

.review-item {
  min-height: 200px;
  height: auto;
}

.review-value {
  padding: 20px;
  width: 100%;
}

.review__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 240px;
  border-right: 1px solid gray;
}

.review__user img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.review__user span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.review-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.review__point {
  background-color: #ecf8ff;
  width: 120px;
  text-align: center;
  border-radius: 12px;
  padding: 4px 12px;
}

.review__point span,
.review__date {
  font-size: 14px;
  color: #687176;
}

.review__point span:first-child {
  color: #0194f3;
}

.review__date {
  position: absolute;
  right: 0;
}

.review__description {
  max-height: 480px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.review__image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.review__image img {
  border-radius: 12px;
  width: 96px;
  height: 96px;
  object-fit: cover;
  cursor: pointer;
}

.review__image img:hover {
  opacity: 0.8;
}

.router-link-active,
.router-link-exact-active {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

a {
  text-decoration: none;
}

:root {
  --color-main: #078cf8;
  --color-main-hover: #41dffb81;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Spinner CSS */
.spin {
  width: 24px;
  height: 24px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
