.pagination {
  margin-top: 14px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination-section select {
  border: none;
  max-width: 96px;
  margin: 0 12px;
  font-size: 16px;
}

.control_page {
  display: flex;
  flex-direction: ro;
  align-items: center;
}

.current-page {
  text-align: center;
  font-size: 16px;
}

#prev-page,
#next-page {
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
}

#prev-page:hover img,
#next-page:hover img {
  filter: invert(29%) sepia(77%) saturate(4244%) hue-rotate(77deg);
  scale: 1.5;
}

#prev-page img,
#next-page img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  width: 24px;
  height: 24px;
}
